@font-face {
    font-family: 'Satoshi-Regular';
    src: url('./../src/assets/fonts/Satoshi-Regular.otf');
}

@font-face {
    font-family: 'Chillax-Regular';
    src: url('./../src/assets/fonts/Chillax-Regular.otf');
}